@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <!-- Posts -->
    <div class="col-md-8">
        <h1>Posts</h1>
        @if (Model.Posts.Any())
        {
            <ul class="list-group">
                @foreach (var post in Model.Posts)
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>
                                <a asp-page="/Profile"
                                   asp-route-id="@post.AuthorId">@post.AuthorName</a>
                            </h5>
                            <small class="text-info">@post.DateTimePosted.ToString("f")</small>
                        </div>
                        <pre style="white-space: pre-wrap; max-height: 7.5em; overflow: auto">@post.Content</pre>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No posts available.</p>
        }

        <!-- Navigator -->
        <div class="mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/Index"
                               asp-route-currentPage="@(Model.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @if (Model.TotalPages <= 7)
                    {
                        @for (int pageno = 1; pageno <= Model.TotalPages; pageno++)
                        {
                            <li class="page-item @(pageno == Model.CurrentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-page="/Index" asp-route-currentPage="@pageno">@pageno</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="page-item @(1 == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-page="/Index" asp-route-currentPage="1">1</a>
                        </li>
                        @if (Model.CurrentPage > 4)
                        {
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                        }
                        @for (int pageno = Math.Max(2, Model.CurrentPage - 2); pageno <= Math.Min(Model.TotalPages - 1, Model.CurrentPage + 2); pageno++)
                        {
                            <li class="page-item @(pageno == Model.CurrentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-page="/Index" asp-route-currentPage="@pageno">@pageno</a>
                            </li>
                        }
                        @if (Model.CurrentPage < Model.TotalPages - 3)
                        {
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                        }
                        <li class="page-item @(Model.TotalPages == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-page="/Index" asp-route-currentPage="@Model.TotalPages">@Model.TotalPages</a>
                        </li>
                    }

                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/Index"
                               asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <!-- News -->
    <div class="col-md-4">
        <h1>News Feed</h1>
        <div id="newsDiv">
            @if (Model.NewsArticles.Any())
            {
                <ul class="list-group">
                    @foreach (var article in Model.NewsArticles)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <img src="@article.ImageUrl" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                                <a href="@article.Url" target="_blank">@article.Title</a>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <ul class="list-group">
                    <li class="list-group-item text-info text-center">
                        <p>No news feed available at the moment.</p>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>